/* Style fontów Raleway / Open Sans
    Light 300
    Regular 400
    Bold 700
    Extra Bold 800 / Only Raleway
 */

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --design-max-width: 1626px;
}

html, body {
    font-size: 16px;
}

.header {
    width: 100%;
    margin-inline: auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.container {
    max-width:84.5rem;
    margin-inline: auto;

}
.header .header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: var(--color-primary);
    font-size: 2rem;
    text-align: left;
    letter-spacing: 0;
    line-height: 2.3125rem;
    /*margin-left: 1.1875rem;*/

}

.menu {
    display: flex;
    flex-wrap: wrap;
}
.menu .menu__item{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6875rem;
    line-height: 0.9375rem;
    padding: 1.71875rem 2.96875rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--color-grey);
    /*display: block;*/
    box-sizing: border-box;
    height: 4.375rem;
}

.menu .menu__item:hover {
    color: var(--color-black);
    border-bottom: .25rem;
    border-color: var(--color-primary);
    border-style: solid;
}

.btn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 1.375;
    padding: 1rem 3.5625rem;
    /*border: .0625rem solid var(--primary-color);*/
    border-radius: 2.5rem;
    /*transition: all 400ms;*/
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 .1875rem .375rem var(--color-primary-shadow);
}

.btn-opening{
    padding: 1.375rem 9.8125rem;
    font-size: 1rem;
}

.opening {
    width: 100%;
    /*max-width: var(--design-max-width);*/
    background: url("../images/Background.png") no-repeat bottom;
    height: 44.5rem;
    margin-top: 8.125rem;
    margin-bottom: 6.25rem;
    margin-inline: auto;

}
.opening .opening__bg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.opening .opening__box {
    text-align: center;
}
.opening .opening__hdl {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 3.0625rem;
    line-height: 1.163;
    color: var(--color-black);
    margin-bottom: 1.25rem;
}
.opening .opening__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    color: var(--color-black);
    margin-bottom: 2.375rem;
}
.opening__btn {}

